.DS_Store
/atags
/docs/doxygen/
/etags
/tags
/atags

*.a
*.o
.depend

/ChangeLog
/cscope.files
/cscope.out
/cscope.in.out
/cscope.po.out

/etc/gen-ctype-checked
/etc/mhn.defaults
/etc/mts.conf

/h/lua.h
/h/mhpaths.h

/man/*.[1578]
/man/man.sed
/man/mh-chart.man
/test/testdir/

/cmd/ali
/cmd/anno
/cmd/burst
/cmd/comp
/cmd/dist
/cmd/flist
/cmd/fmttest
/cmd/folder
/cmd/forw
/cmd/inc
/cmd/install-mh
/cmd/mark
/cmd/mhbuild
/cmd/mhfixmsg
/cmd/mhl
/cmd/mhlist
/cmd/mhn
/cmd/mhparam
/cmd/mhpath
/cmd/mhshow
/cmd/mhstore
/cmd/msgchk
/cmd/new
/cmd/packf
/cmd/pick
/cmd/refile
/cmd/repl
/cmd/rmf
/cmd/rmm
/cmd/scan
/cmd/send
/cmd/show
/cmd/sortm
/cmd/whatnow
/cmd/whom

/libexec/ap
/libexec/dp
/libexec/fmtdump
/libexec/mkstemp
/libexec/post
/libexec/prompter
/libexec/rcvdist
/libexec/rcvpack
/libexec/rcvstore
/libexec/rcvtty
/libexec/slocal
/libexec/viamail

/liblua/lua
/liblua/luac

/libmh/dtimep.c
